.user-avatar-container {
    flex-shrink: 0;
    display: inline-block;
}

.user-avatar-image {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    object-fit: cover;
}

.user-avatar-placeholder {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    background-color: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: center;
    font-weight: 800;
    font-size: 20px;
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.user-avatar-small .user-avatar-image,
.user-avatar-small .user-avatar-placeholder {
    width: 32px;
    height: 32px;
    font-size: 14px;
}

.user-avatar-large .user-avatar-image,
.user-avatar-large .user-avatar-placeholder {
    width: 134px;
    height: 134px;
    font-size: 64px;
    border: 4px solid white;
}