.app-navbar {
    display: flex;
    justify-content: flex-end;
    padding: 8px 16px;
    background-color: white;
    border-bottom: 1px solid var(--border-color);
    position: sticky;
    top: 0;
    z-index: 100;
}